<%= form_with(model: dns_entry, local: true) do |form| %>
  <% if dns_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dns_entry.errors.count, "error") %> prohibited this dns_entry from being saved:</h2>

      <ul>
        <% dns_entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :ttl %>
    <%= form.number_field :ttl %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
