<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @dns_entry.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @dns_entry.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @dns_entry.content %>
</p>

<p>
  <strong>Ttl:</strong>
  <%= @dns_entry.ttl %>
</p>

<%= link_to 'Edit', edit_dns_entry_path(@dns_entry) %> |
<%= link_to 'Back', dns_entries_path %>
